*{
    box-sizing: border-box;
}

body{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}
.container{
    display:flex;
    
}
/* .square{
    background-color:lightblue;
    border-style:dotted;
    border-color: black;
    height:30px;
    width:30px;
} */